html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar-default {
    background-color: #f5f5ff;
    border-color: #e7e7ff;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5ff;
}
