{% extends 'bootstrap/base.html' %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block title %}
David's Blog
{% endblock %}

{% set navigation_bar = [
('index', 'Home'),
('blog', 'Blog')
] -%}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="{{ url_for('index') }}">
      <img src="assets/brand.svg" width="30" height="30" alt="">
      </a>
  </div>
  <div class="container">
    <ul class="nav navbar-nav">
      {% for href, name in navigation_bar %}
      <li{% if href == active_page %} class="active"{% endif %}>
	<a href="{{ url_for(href) }}">{{name}}
	</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
  {% block main %}{% endblock %}
</div>

<footer class="footer">
  <div class="container">
    <p class="text-mute">{{ git_version }}</p>
  </div>
</footer>
{% endblock %}
